<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("9ff8a468-e7e3-451c-939d-60c3fae6b528");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
